/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/12/2013, 20:55:09
    Author     : Gil
*/





aside#botoes{
    margin:0px;
    margin-top:50px;
    margin-left: 0px;
    //padding-left: px;
    //background: pink;
}
aside#botoes ul{
    margin: 0;
    padding: 0;
}

aside#botoes li{
    //background: green;
    display: block;
    width:90px;
    height: 110px;
    float:left;
    margin-right: 15px;
}


aside#botoes a:link, aside#botoes a:visited{
    background: white;
    height: 114px;
    width:85px;
    display: table-cell;
    vertical-align: bottom;
    text-align:right;
    padding-right: 5px;
    padding-bottom: 5px;
    border:solid 2px black;
    opacity: .3;
    text-decoration: none;
    color:black;
    
}

aside#botoes a:hover{
    background-color:rgb(241,241,241);
    opacity: 1;
}
aside#botoes a:active{
    background: black;
    color:white;
}



aside#botoes .botao{
    
//appearance:hyperlink;
 
   //-moz-appearance:none; /* Firefox */
 
  // -webkit-appearance:none; /* Safari and Chrome */
  
 color:transparent;
  border: none;//solid 1px green;
  background: url(../imagem/btLimpar-link.png);
  width:92px;
    height: 112px;
    cursor:pointer;

}

aside#botoes .botao:hover{
    //color:transparent;
  //border: none;//solid 1px green;
  background: url(../imagem/btLimpar-hover.png);
  //width:92px;
    //height: 112px;
}
aside#botoes .botao:active{
    //color:transparent;
  //border: none;//solid 1px green;
  background: url(../imagem/btLimpar-active.png);
  //width:92px;
    //height: 112px;
}

aside#botoes li#formCadastro{
    //display: none;
    background: rgba(0,0,0,0.4);
    margin-left:-15px;
    width: 230px;
    height: 113.5px;
}
aside#botoes li#formCadastro label{
    display:none; 
}
aside#botoes li#formCadastro input#nome{
    border:none;
    width:185px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 7px;
}

aside#botoes li#formCadastro input#url{
    border:none;
    width:160px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    margin-left: 20px;
    margin-top: 0px;
    //margin-bottom: 7px;
}

aside#botoes li#formCadastro input#inserir{
    
    border:none;
    color:transparent;
    background: url(../imagem/seta.png) no-repeat 2px 2px;
    width:20px;
    height: 18px;
    cursor: pointer;
   
}

aside#botoes li#formCadastro input#inserir:hover{
  
    background: url(../imagem/setaHover.png) no-repeat;
  
   
}

header#tituloSection {
   // background: red;
    
}
header#tituloSection h1{
    //background:green;
    text-transform: capitalize;
    font-size: 2.3em;
    font-weight: 100;
    line-height: 115px;
    padding-left: 200px;
}

.msg{
    //display: block;
    clear:both;
   // background: yellow;
    color:blue;
    padding-top:20px;
    padding-bottom:20px;
    font-size: .9em;
}

article#listaFeeds{
    
   
}




