/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/01/2014, 21:51:28
    Author     : Gil
*/

article#botoesLogin h1#loginTitulo{
    display:none;
}
article#botoesLogin{
    margin: 0;
    margin-top:50px;
    padding: 0;
}
article#botoesLogin ul{
    margin: 0;
    padding: 0; 
}
article#botoesLogin li{
    //background: green;
    display: block;
    width:90px;
    height: 110px;
    float:left;
    margin-right: 15px;
}
article#botoesLogin a:link, article#botoesLogin a:visited{
    background: white;
    height: 105px;
    width:85px;
    display: table-cell;
    vertical-align: bottom;
    text-align:right;
    padding-right: 5px;
    padding-bottom: 5px;
    border:solid 2px black;
    opacity: .3;
    text-decoration: none;
    color:black;
    
}

article#botoesLogin a:hover{
    background-color:rgb(241,241,241);
    opacity: 1;
}
article#botoesLogin a:active{
    background: black;
    color:white;
}


article#botoesLogin li.form1{
    //display:block;
    //margin-top:50px;
    //margin-left: 0px;
    //padding-left: px;
    //background: pink;
    
    //background: rgba(0,0,0,0.4);
    margin-left:-15px;
    min-width: 230px;
    height: 113px;
    
}