/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/01/2014, 12:35:51
    Author     : Gil
*/

/*estilo para class form2, formularios menores*/
.form1 {
    margin: 0;
    padding: 0;
    //background:red;
  
    background: rgba(0,0,0,0.4);
     width: 400px;
    //height: 55.5px;

}
.form1 form{
    //background: red;
    //padding: 0;
     padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    //min-width: 200px;
    //height: 53.5px;
}



.form1 label{
    display:none;
}

.form1 input{
    border:none;
    width:185px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
   // margin-left: 20px;
    //margin-top: 30px;
    margin-bottom: 7px;
}
.form1 input.botao{
    border:none;
    width:160px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
   // margin-left: 20px;
    //margin-top: 30px;
    margin-bottom: 7px;
}

 .form1 input#submit{
    
    border:none;
    color:transparent;
    background: url(../imagem/seta.png) no-repeat 2px 2px;
    width:20px;
    height: 18px;
    cursor: pointer;
    padding: 0;
    margin: 0;
   
}

.form1 input#submit:hover{
  
    background: url(../imagem/setaHover.png) no-repeat;
  
   
}

.msgForm1{
    //display: block;
    clear:both;
   // background: yellow;
    color:blue;
    padding-top:20px;
    padding-bottom:20px;
    font-size: .9em;
}








/*estilo classe form2, para formularios intermediários*/
.form2{
    margin: 0;
    margin-top:50px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
    background: rgba(0,0,0,0.4);
    width: 400px;
    min-height: 100px;
}
.form2 form{
    //background: green; 
    padding: 0;
}
.form2 h1.tituloForm{
    display:none;
}
.form2 label{
    display:none;
}
.form2 input{
    border:none;
    width:396px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
   
    margin-right: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: .8em;
    
}
.form2 input.botao{
    width:366px;
    
    border:none;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
   
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: .8em;
}
.form2 input#submit{
    //display: inline;
    border:none;
    color:transparent;
    background: url(../imagem/seta.png) no-repeat 2px 2px;
    width:20px;
    height: 18px;
    cursor: pointer;
    
    padding: 0px;
    
    margin: 0;
}
.form2 input#submit:hover{
  
    background: url(../imagem/setaHover.png) no-repeat;
  
   
}


.msgForm2{
    //display: block;
    clear:both;
   // background: yellow;
    color:blue;
    padding-top:20px;
    padding-bottom:20px;
    font-size: .9em;
}









/*estilo para classe form3 (formulários grandes, com textareas e largura de 1000px*/
.form3{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    background: rgba(0,0,0,0.4);
    width: 960px;
    min-height: 200px;
}
.form3 form{
   // min-width:100px;
    //background: red;
    padding: 0;
}
.form3 h1.tituloForm{
    display:none;
}


.form3 label{
    display:none;
}

.form3 input{
    border:none;
    width:956px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
   
    margin-right: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: .8em;
    
}
.form3 input.botao{
    width:930px;
    
    border:none;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
   
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: .8em;
}
.form3 textarea{
    border:none;
    width:956px;
    height: 300px;
    color:#555555;
    padding-top:3px;
    padding-bottom: 3px;
     padding-left: 2px;
    padding-right: 2px;
   margin-bottom: 10px;
   font-family: sans-serif;
   font-size: .8em;
   
    margin-right: 0;
}


.form3 input#submit{
    //display: inline;
    border:none;
    color:transparent;
    background: url(../imagem/seta.png) no-repeat 2px 2px;
    width:20px;
    height: 18px;
    cursor: pointer;
    
    padding: 0px;
    
    margin: 0;
}

.form3 input#submit:hover{
  
    background: url(../imagem/setaHover.png) no-repeat;
  
   
}


.msgForm3{
    //display: block;
    clear:both;
   // background: yellow;
    color:blue;
    padding-top:20px;
    padding-bottom:20px;
    font-size: .9em;
}
